{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django Boards{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/app.css' %}"> -->
    {% block stylesheet %}{% endblock %}  <!-- HERE -->
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'logout' %}">Log Out</a>
          {% else %}
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand" href="{% url 'signup' %}">Sign Up</a>
            <a class="navbar-brand" href="{% url 'login' %}">Log In</a>
          {% endif %}
        </div>
      </nav>
      <div class="container">
        <ol class="breadcrumb my-4">
          {% block breadcrumb %}
          {% endblock %}
        </ol>
        {% block content %}
        {% endblock %}
      </div>
  </body>
</html>