{% extends 'registration/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Home</h2>
  <h6>This is your home page {% if user.is_authenticated %} {{user.username}}! {% else %} visitor {% endif %}</h6>
  <p><strong>Total Users: {{ total_users }}</strong></p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
