{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post" class="uniForm">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Login</button>
  	<a href="{% url 'password_reset' %}">Forget Password</a>
  </form>
{% endblock %}
