{% extends 'registration/base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <h2>Password reset</h2>
  <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset my password</button>
  </form>
{% endblock %}
